form {
  align-items: center;
  background-color: rgb(218, 217, 217);
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-evenly;
  min-width: 465px;
  padding: 3rem;
  width: 35vw;
}

form div {
  align-items: center;
  display: flex;
}

form input,
form select {
  border: none;
  border-radius: 5px;
  height: 3rem;
  padding: 1rem;
  width: 70%;
}

form input:hover,
form select:hover {
  cursor: pointer;
}

form label {
  font-weight: 500;
  padding: 0 1rem;
  text-align: end;
  width: 30%;
}

.submit-btn {
  font-size: 1em;
}

@media (max-width: 1260px) {
  form div {
    flex-direction: column;
  }

  form label {
    margin-bottom: 1rem;
    width: fit-content;
  }
} ;
