.app {
  text-align: center;
}

.error-view {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: space-evenly;
  width: 35%;
}

.error-view button {
  height: 3rem;
  width: 5rem;
}
